@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(17, 17, 17);
}

/* Cabeçalho */

 h1{
    color: white;
    background-color: rgb(64, 86, 175);
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid rgb(23, 44, 125);
 }

.container{
    background-color: rgba(255, 246, 246, 0.911);
    min-height: 60vh;
    padding: 50px;
}

.produtos-container{
    max-width: 1200px;
    margin: 0 auto;

}

.card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
    border:2px solid rgba(64, 86, 175, 0.45);
    border-radius: 15px;
}

.produto-imagem{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img1{background-image: url(../imagens/tenis1.jpg);
}

#img2{background-image: url(../imagens/tenis2.jpg);
}

#img3{background-image: url(../imagens/tenis3.jpg);
}

#img4{background-image: url(../imagens/tenis4.jpg);
}

#img5{background-image: url(../imagens/tenis5.jpg);
}

#img6{background-image: url(../imagens/tenis6.jpg);
}

h3{
    margin-bottom: 10px;
    color: rgb(64, 86, 175);
    border-left: 5px solid #2f834f;
    padding-left: 7px;
    font-size: 24px;
}

.card p{
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}
.btn{
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb( 64, 86, 175);
    color: white;
    padding: 15px;
    border-radius: 5px;
    transform: .4s;
    text-align: center;
}
.btn:hover{
    background-color:#3db36b;
}

footer{
    background-color: rgb( 64, 86, 175);
    color: white;
    padding: 70px;
    text-align: center;
}